body {
	margin: 0;
	font-weight: bold;
}

/* チャット画面全体 */
.chat-header {
	text-align: left;
	font-size: 3vh;
	color: gray;
	height: 5%;
}

.back-button {
	text-decoration: none;
	color: inherit;
}

.chat-container {
	height: 95%;
}

/* メッセージ表示エリア */
.message-container {
	height: 90%;
	overflow-y: scroll;
	background-color: whitesmoke;
}

/* メッセージ */
.message {
	background-color: lightgreen;
	border-radius: 10px;
	margin: 10px 0;
	width: fit-content;
}

.left-message {
	text-align: left;
}

.right-message {
	text-align: right;
	margin-left: auto;
}

.message-time {
	color: white;
}

.message-text {
	font-size: 20px;
	margin-left: 2px;
	margin-right: 2px;
	color: black;
}

.message-read-flag {
	color: white;
}

/* 日付区切り */
.date-divider {
	margin: 10px 0;
	text-align: center;
	color: black;
}

/* メッセージ入力エリア */
.message-input-container {
	height: 10%;
}

/* メッセージ入力 */
.message-input {
	margin: 0;
	width: 90%;
	height: 100%;
	color: black;
	text-align: left;
	vertical-align: top;
}

.message-input::placeholder {
	font-size: 2em;
}

/* 送信ボタン */
.message-send-button {
	vertical-align: top;
	margin: 0;
	color: blue;
}