.contents{
    width: 150px;
    height: auto;
    position: relative; /* relativeは基準となる親要素 */
}

.furattosa_center{
    position: absolute;
    top: 45%;                       /* 画面上の位置指定(上半分 : 下半分 = 45 : 55) */
    transform: translateY(-50%);    /* 画像の高さの50%を指定 */
}

.login_mail{
    position: absolute;
    top: 20px; /* 親要素の上から20px */
    left: 300px;
    width: 1000px;
    height: 1000px;
    /* background-color:  */
}

.login{
    background-color: #fff;
    border: solid 2px #2495e0;
    color: #2495e0;
    border-radius: 20px; 
    padding: 10px 30px;
    text-decoration: none;
    font-size: 4em;
}

.login:hover {
    color:  #fff;
    background-color: #2495e0;
  }