<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>パスワード再設定</title>
</head>
<body>
    <h1>パスワード再設定</h1>
    <form method="post">
        {% csrf_token %}
        <p>メールアドレスを入力してください：</p>
        <p>
        <label for="id_email">メールアドレス</label>
        <input type="email" name="email" maxlength="100" id="id_email">
        </p>
        <button type="submit">送信</button>
    </form>
</body>
</html>